*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'helvatica',sans-serif;
}
a{
    text-decoration: none!important;
}
#top-menu {
    width: 100%;
    height: 35px;
    background: #4267b2;
    border-bottom: 1px solid #f5f5f5;
}
#top-hotline .name {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
}
#top-hotline .name a {
    display: inline-block;
    font-size: 14px;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
}
#top-hotline .name a.name_cart {
    background: url(/frontend/images/cart.png) no-repeat left center;
    padding-left: 30px;
}
#logo {
    margin-top: 10px;
}
#logo img {
    max-width: 100%;
}
#hotline {
    float: right;
    position: relative;
    margin-top: 15px;
}
#hotline .name {
    float: right;
    font-size: 16px;
    color: #4267b2;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#hotline .phone {
    float: right;
}
#hotline .phone a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #4267b2;
    text-align: right;
}
#prd-cate-list {
    width: 100%;
    position: relative;
}
#prd-cate-list .prd-cate-header {
    background: linear-gradient(to bottom,#4880b2,#4267b2 100%);
}
#prd-cate-list .prd-cate-header span {
    display: block;
    height: 46px;
    line-height: 46px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
#prd-cate-list .prd-cate-header span i {
    float: right;
    margin-right: 10px;
    line-height: 46px;
    font-size: 30px;
}
/*menu*/
#prd-cate-list ul {
    list-style: none;
    display: block;
}
#prd-cate-list ul.sub-page {
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #e8e8e8;
    border-top: 0;
    background: gray;
    width: 100%;
    z-index: 1;
}
#prd-cate-list .sub-page > ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
#prd-cate-list .sub-page > ul > li {
    display: block;
}
#prd-cate-list .sub-page > ul > li, #prd-cate-list .main-page > ul > li {
    background: #e7e6e6;
    border-bottom: 1px solid #efefef;
}
#prd-cate-list ul li a {
    display: block;
    padding: 14px 5px;
    margin: 0 10px;
}
#prd-cate-list .sub-page > ul > li > a {
    display: block;
    color: #000;
    cursor: pointer;
}
#prd-cate-list .sub-page > ul > li > a img {
    float: left;
    margin: -5px 15px 0 0;
}
#prd-cate-list ul li a .mc_title {
    font-size: 16px;
    color: #000;
    margin: 0;
    display: block;
}
#prd-cate-list .sub-page > ul > li > a .mc_title {
    font-size: 14px;
    font-weight: bold;
}
#prd-cate-list .sub-page > ul > li > a i, #prd-cate-list .main-page > ul > li > a i {
    float: right;
    line-height: 21px;
    font-size: 14px;
}
#prd-cate-list ul li a:hover .mc_title, #prd-cate-list ul li a:hover .mc_desc {
    color: #eb1c24;
}
/*search*/
#searchform {
    display: block;
    zoom: 1;
    padding: 5px;
    position: relative;
    background: linear-gradient(to bottom,#4880b2,#4267b2 100%);
}
img.loader {
    float: right;
    position: relative;
    right: 117px;
    top: 2px;
    width: 28px;
}
#searchform .searchfield {
    float: left;
    background: #fff;
    width: 100%;
    outline: none;
    font-size: 14px;
    background-color: #f2f2f2;
    height: 36px;
    padding: 0 10px;
}
#searchform .searchbutton {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    border: none;
    background-color: #eb1c24;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    display: none;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
#autoSuggestionsList {
    background: #f5f3f3;
    float: left;
    padding: 0px 5px 5px 5px;
    position: absolute;
    width: 98.3%;
    z-index: 10;
    display: none;
}
#autoSuggestionsList .sgg-row {
    border-top: 1px solid #dbdbdb;
    float: left;
    padding: 7px 0;
    width: 100%;
}
#autoSuggestionsList .sgg-row .sgg-image {
    float: left;
    margin-right: 8px;
}
#autoSuggestionsList .sgg-row .sgg-image img {
    border: 1px solid #dbdbdb;
    background: #fff;
}
#autoSuggestionsList .sgg-row .sgg-title a {
    font-size: 13px;
    color: #000;
    transition: all 0.5s;
}
#autoSuggestionsList .sgg-row .sgg-sellprice {
    color: #4267b2;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 13px;
}
.button-support {
    float: right;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 0px;
}
.btn-danger, .btn-danger:hover {
    background: linear-gradient(to bottom,#4880b2,#4267b2 100%);
}
.custom-navbar{
    max-height: 51px;
    z-index: 2;
    background: #4267b2;
    border-bottom: 2px solid black;
}
.navbar{
    padding: 0;
}
.navbar-brand{
    padding: 0;
}
.navbar-toggler{
    margin-right: 5px;
    background-color: #4267b2;
    border: 1px solid white!important;
}
.hide{
    display: none!important;
}
.bg-social {
    padding-top: 20px;
    padding-bottom: 20px;
}
.social-claim {
    background: #fd0;
    border-radius: 5px;
    padding: 15px;
}
.social-claim .claim_header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.social-claim .claim {
    font-size: 13px;
    color: #333;
    background: url('../../frontend/images/claim.png') no-repeat left center;
    padding-left: 40px;
    margin: 18px 0;
}
.social-claim2 .claim_header {
    background: #fd0;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.social-claim2 ul {
    list-style: url(../../frontend/images/list-style.png) inside;
}
.social-claim2 ul a {
    font-size: 13px;
    color: #555;
    margin: 10px 4px;
}
#social_us {
    border-top: 2px dashed #e1e1e1;
    padding: 6px;
}
#social_us .social_us_header {
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
#f_social {
    margin: 5px 0;
    text-align: center;
}
.hotline {
    font-size: 16px;
    line-height: 16px;
}
.hotline .title {
    font-weight: bold;
}
.hotline p {
    margin: 5px 0;
    font-size: 16px;
    color: #000;
}
.bg-footer {
    background: #fff100;
    padding-top: 20px;
    padding-bottom: 20px;
}
.f-logo {
    margin-top: 10px;
    background: white;
}
.f-logo img {
    border-radius: 5px;
    max-width: 200px;
}
.f-address {
    margin-top: 5px;
    font-size: 14px;
    color: black!important;
}
.f-address p {
    line-height: 25px;
}

.contact_right {
    position: fixed;
    top:300px;
    right: 0;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 #000;
    -moz-box-shadow: 0 0 10px 0 #000;
    -webkit-box-shadow: 0 0 10px 0 #000;
}
.contact_right ul{
    margin: 0;
}
.contact_right ul li{
    list-style: none;
    padding: 15px;
}
.contact_right ul li:hover{
    background: mediumspringgreen;
}
.contact_right ul li a{
    display: block;
}
#mobileslider img{
    max-height: 137px;
}
#autoSuggestionsList {
    background: #f5f3f3;
    float: left;
    padding: 0px 5px 5px 5px;
    position: absolute;
    width: 98.3%;
    z-index: 10;
    display: none;
}
#autoSuggestionsList .sgg-row {
    border-top: 1px solid #dbdbdb;
    float: left;
    padding: 7px 0;
    width: 100%;
}
#autoSuggestionsList .sgg-row .sgg-image {
    float: left;
    margin-right: 8px;
}
#autoSuggestionsList .sgg-row .sgg-image img {
    border: 1px solid #dbdbdb;
    background: #fff;
}
#autoSuggestionsList .sgg-row .sgg-title a {
    font-size: 13px;
    color: #000;
    transition: all 0.5s;
}
#autoSuggestionsList .sgg-row .sgg-sellprice {
    color: #4267b2;
    font-weight: bold;
    transition: all 0.5s;
    font-size: 13px;
}
#autoSuggestionsList .sgg-row:hover .sgg-title a {
    padding-left: 20px;
    transition: all 0.5s;
}
#autoSuggestionsList .sgg-row:hover .sgg-sellprice {
    text-indent: 20px;
    transition: all 0.5s;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail, .img-thumbnail {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
.thumbnail.products {
    margin: 10px 0 0 0;
    border-radius: 0;
    padding: 0;
    position: relative;
}
.container-price{
    text-align: right;
    position: absolute;
    bottom: 77px;
    right: 20px;
    line-height: normal;
}
.trademark{
    color: #4267b2;
    text-transform: uppercase;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-bottom: 3px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
.thumbnail.products img {
    max-width: 140px;
    width: 100%;
}
.thumbnail .caption {
    color: #333;
}
.thumbnail .caption {
    padding: 5px 15px 5px 5px;
    margin-top: 29px;
}
.thumbnail.products h3 {
    margin: 0;
    font-size: 13px;
    color: #000;
    line-height: normal;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumbnail.products .new-price {
    font-size: 20px;
    color: red;
    font-weight: bold;
    display: block;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #333;
    text-align: right;
}
.thumbnail.products .old-price {
    font-size: 14px;
    color: #636363;
    text-decoration: line-through;
    display: inline-block;
    text-align: right;
}
.thumbnail.products:hover {
    border-color: #4267b2;
    transform: scale(1.03);
}
.product-item{
    padding-right: 0px;
}
.image_right{
    max-width: 273px;
}

@media (min-width: 1200px){
    .thumbnail .new-price {
        text-align: left;
    }
    .thumbnail .old-price {
        text-align: left;
    }
}
@media (max-width: 767px){
    .prod-container{
        margin-right: 0;
    }
}
@media (max-width: 1199px){
    .custom-navbar .navbar-brand img {
        max-height: 51px;
    }
}

@media (min-width: 1200px){
    #top .top-header {
        margin-bottom: 10px;
    }
    .hidden-lg {
        display: none !important;
    }
}
@media (min-width: 993px){
    .hidden-md {
        display: none !important;
    }
}
@media (max-width: 767px){
    .hidden-xs {
        display: none !important;
    }
    .top{
        margin-top: 51px;
    }
    #navbarNavDropdown{
        background: whitesmoke;
    }
    #navbarNavDropdown .nav-item a{
        color: black;
        font-weight: bolder;
        padding: 10px;
    }
    #navbarNavDropdown .nav-item a:hover{
        color: white;
        background: #4267b2;
    }
    .social-claim2 {
        margin-top: 15px;
    }
    .contact_right {
        position: fixed;
        top: auto;
        right: auto;
        left: 0;
        background: white;
        bottom: 0;
        border-radius: 0 5px 0 0;
        border: 1px solid black;
        box-shadow: 0 0 10px 0 #000;
        -moz-box-shadow: 0 0 10px 0 #000;
        -webkit-box-shadow: 0 0 10px 0 #000;
    }
    .contact_right ul li{
        float: left;
        padding: 10px;
    }
    .contact_right .fa-3x{
        font-size: 2em;
    }
}
